/*格式化样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}

body{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

a{
  text-decoration: none;
}

@media (min-width: 768px) {
  .container {
    width:750px
  }
}

@media (min-width: 992px) {
  .container {
    width:970px
  }
}

@media (min-width: 1200px) {
  .container {
    width:1170px
  }
}

.popMenu{
  margin-top: 2px !important;
  width: 100%;
  padding: 0;
  left: 0 !important;
  border: 0;
  height: 40px;
}



.el-dialog__header{
  padding: 20px 20px 0;
}

.el-dialog__body{
  padding: 15px 20px 0;
}

.el-header{
  padding: 0;
}

.el-main{
  padding: 0;
}


.login-wrapper input{
  background-color: transparent;
  color: white;
  height: 100%;
}

.login-wrapper .el-input-group__prepend{
  background-color: transparent;
  color: white;
}

.login-mb-wrapper .mint-cell{
  border-bottom: 1px solid white;
}

.login-mb-wrapper a.mint-cell{
  border-bottom: none;
}

.mint-cell:last-child{
  background-image: none;
}

.login-mb-wrapper .mint-cell-value .mint-cell-wrapper{
  border-bottom: none;
}

.login-mb-wrapper .mint-cell-wrapper{
  border-bottom: 1px solid white;
  background-image: none;
}

.login-mb-wrapper input{
  background-color: transparent;
  color: white;
}

.login-mb-wrapper .el-input-group__prepend{
  background-color: transparent;
  color: white;
}

.login-mb-wrapper .mint-cell-title {
  flex: 0.3 !important;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  /* WebKit browsers */
 color: rgb(253, 250, 250);
 }
 input:-moz-placeholder, textarea:-moz-placeholder {
 /* Mozilla Firefox 4 to 18 */
 color: rgb(253, 250, 250);
 }
 input::-moz-placeholder, textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(253, 250, 250);
 }
 input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgb(253, 250, 250);
 }

 .checklist-mb-wrapper .el-input-number--mini {
  width: 90px;
  height: 22px;
  line-height: 22px;
}
.checklist-mb-wrapper  .el-input-number__decrease {
  width: 21px;
  font-size: 12px;
  height: 20px;
}

.checklist-mb-wrapper .el-input-number__increase{
  width: 21px;
  font-size: 12px;
  height: 20px;
}

.checklist-mb-wrapper .el-input__inner{
  height: 22px;
  line-height: 22px;
  padding:0 26px;
}

.weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before {
  content: '\EA06';
  color: #D7B25A !important;
}

.weui-cells_checkbox .weui-check:checked + .vux-checklist-icon-checked:before {
  color: #D7B25A !important;
}

.vux-check-icon > .weui-icon-success:before, .vux-check-icon > .weui-icon-success-circle:before{
  font-size: 20px;
  color: #D7B25A !important;
}

.weui-icon-success{
  font-size: 20px;
  color: #D7B25A !important;
}

.menu-wrapper .el-badge__content {
  background-color: #D7B25A;
  border-radius: 90px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 15px;
  line-height: 15px;
  padding: 0 2px;
  text-align: center;
  white-space: nowrap;
  border: none;
}

.mint-indexlist-content{
  margin-right: 0 !important;
}
.mint-indexlist-nav{
  display: none;
}

.weui-search-bar{
  padding: 8px 8px !important;
}

.detail-mb-wrapper .el-badge__content.is-fixed{
  top: 13px;
}

.weui-panel:after{
  border: none;
}

